# Dependencies
node_modules

# Next.js
.next
out

# Prisma
prisma/*.db
prisma/*.db-journal

# Env / secrets
.env
.env.local
.env.*.local
*.pem
*.p8
*.p12

# Logs
/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Test / coverage
coverage
.vitest

# Vercel
.vercel

# Build
dist
dist-ssr

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local
*.local
*.tsbuildinfo

# Swift
.build
.swiftpm
